
/* 在你的 assets/css/custom.css 文件中 */
.btn-to-bottom {
    position: fixed;
    bottom: 20px; /* 或你想要的任何值 */
    left: 50%;
    transform: translateX(-50%);
  }

.CSS_First_color-title {
    /* color: blue; */
    color: #804000;
}

.CSS_First_color-important {
    /* color: red; */
    color: #ffff00;
}